@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed; 
  }
}


/* @font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PlaywriteVN-Regular';
  src: url('/fonts/PlaywriteVN-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
  /* font-family: 'Roboto'; */
}
.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  min-height: 600px;
}
.main-menu a {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}